*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #FAD04E;

}


.img-card1 ,.card,.card-desc,.card-footer,p,span,h3,img
{
    background-color: #fff;
}

#wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
 }

button
{
    border: none;
    padding: 0.5rem;
    width: 34%;
    font-weight: bold;
    border-radius: 7px;
}
.desc-p
{
    margin-bottom: 4%;
    margin-top: 4%;
}
h3{
    margin-bottom: 4%;
    color:#FAD04E;
}
.desc-p2
{
    color: gray;
    word-spacing: 5px;
}
 .img-card1
{
    margin-left: 5px;
    width: 96%;
    border-radius: 20px;
    

}
.card
{
    border: 1px solid black;
    margin: 0.6rem;
    padding: 1rem;
    border-radius: 20px;
    width: 380px;
    height: 500px;
    box-shadow: 8px 8px black;

}

.card-desc
{
    margin: -3px;
    padding: 0.8rem;
}

.card-footer
{
    display: flex;
    flex-direction: row;
    gap: 13px;
    
    
}

.img-ft
{
    width: 10%;
    margin-top: 2%;
    margin-left: 1%;
   
}

.ft-p
{
    margin-top: 1rem;
}

@media screen and (max-width: 480px)
{
    
    .desc-p2
    {
        flex-wrap: wrap;
    }
    h3
    {
        color:black;
        
    }
    .card-footer
    {
      gap: 10px;
    }
    .img-ft
   {
    width: 10%;
    margin-top: 3%;
    margin-left: 3%;
   
   }
}